.nav { 
    @apply  w-full bg-black/80 shadow-2xl gap-5 p-5 z-10;  
}

.imgLogo {
    @apply absolute top-5 left-5 z-10 cursor-pointer
}

.item {   
    color:aliceblue;
    text-decoration: none;        
}

.item a {
    color:aliceblue;
    text-decoration: none;
}

.itemactive {
    color:gold;
}


.overlay {    
    position: fixed;
    z-index: 10;
    top: 0;  
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.4s ease-in-out;
    overflow: hidden;  
}

.modal {  
    width: 100%;         
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);    
    transition: all 0.4s ease-in-out;    
}

.overlay.animated {
    opacity: 0;
    visibility: hidden;

    .modal {
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, 0%);
        /* transition-delay: 0.2s;*/
    }

    &.show {
        opacity: 1;
        visibility: visible;

        .modal {
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, 0%);        
        }
    }
}
