.nav { 
    @apply w-full bg-black shadow-2xl gap-5 p-5;  
}

.item {   
    color:aliceblue;
    text-decoration: none;    
    
}
.item a {
    color:aliceblue;
    text-decoration: none;
}

.itemactive {
    color:gold;
}

