.overlay {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.4s ease-in-out;
}

.modal {  
    width: 100%;  
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);    
    transition: all 0.4s ease-in-out;

    img {
        @apply mx-auto w-[300px] h-[408px] xs:w-[420px] xs:h-[571px] sm:w-[620px] sm:h-[842px];
        position: relative;        
        border-radius: 5px;
        border: 10px solid white; 
    }

    svg {
        position: absolute;
        right: 13px;
        top: 13px;        
        height: 24px;
        width: 24px;
        opacity: 0.5;
        cursor: pointer; 
    }
}

.overlay.animated {
    opacity: 0;
    visibility: hidden;

    .modal {
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -30%);
        transition-delay: 0.4s;        
    }

    &.show {
        opacity: 1;
        visibility: visible;

        .modal {
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, -30%);        
        }
    }
}

.minimap {
    @apply cursor-pointer shadow-black shadow-[0_0_20px] transition-all ease-in-out duration-300 border-white border-4
}